body,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  box-sizing: border-box;
  color: #ccc;
  padding: 30px;
  position: fixed;
  width:100%;
  top:0;
  border-bottom: 1px solid #fff;
}

footer {
  background: #ccc;
  padding: 1rem;
}
/*nabi開閉部分*/

.gnav li {
  border-bottom: 1px solid #333;
  padding: .875rem 1rem;
}

.gnav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  /* (44-16)/2=14px */

}

.gnav {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 61px;
  z-index: 99;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform:  translateY(-100%);
  -ms-transform:  translateY(-100%);
  -o-transform:  translateY(-100%);
  transform:  translateY(-100%);
  webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .8s cubic-bezier(.8, 0, .2, 1);
  -moz-transition: .8s cubic-bezier(.8, 0, .2, 1);
  transition: .8s cubic-bezier(.8, 0, .2, 1);
}

.gnav.on {
  visibility: visible;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transform:  translateY(0px);
  -moz-transform:  translateY(0px);
  -ms-transform:  translateY(0px);
  -o-transform:  translateY(0px);
  transform:  translateY(0px);
}

.modal {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  left: 0;
  opacity: .1;
  position: fixed;
  top: 0;
  z-index: 98;
  visibility: hidden;
  webkit-transition: visibility 0 linear .4s, opacity .4s;
  -moz-transition: visibility 0 linear .4s, opacity .4s;
  transition: visibility 0 linear .4s, opacity .4s;
  webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.modal.on {
  opacity: 1;
  webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
  visibility: visible;
}
  /*ハンバーガーボタン*/

.icon-animation {
  width: 44px;
  height: 44px;
  display: block;
  cursor: pointer;
  float: right;
  position: absolute;
  right: .5rem;
  text-align: center;
  top: .5rem;
}

.icon-animation span {
  width: 39px;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.icon-animation .top {
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  transform: translateY(-13px);
}

.icon-animation .bottom {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  transform: translateY(13px);
}

.is-open .middle {
  background: rgba(51, 51, 51, 0);
}

.is-open .top {
  -webkit-transform: rotate(-45deg) translateY(0px);
  -ms-transform: rotate(-45deg) translateY(0px);
  transform: rotate(-45deg) translateY(0px);
}

.is-open .bottom {
  -webkit-transform: rotate(45deg) translateY(0px);
  -ms-transform: rotate(45deg) translateY(0px);
  transform: rotate(45deg) translateY(0px);
}