<section class="login">
    <div class="login-inner">
        <!-- <form action="http://localhost:3000/api/login">
            <label>ログイン:</label>
            <input type="text" name="name" size="40" maxlength="32"/><br>
            <label>パスワード:</label>
            <input type="password" name="password" size="40" maxlength="32"/>
            <input type="submit" value="Login" />
        </form> -->
        <form>
            <label>ユーザネーム:</label>
            <input type="text" name="name" size="40" maxlength="32" placeholder="ｎａｍｅ" [(ngModel)]="name"/><br>
            <label>パスワード:</label>
            <input type="password" name="password" size="40" maxlength="32" placeholder="password"  [(ngModel)]="password"/>
            <input type="button" (click)="onSubmit()" value="Login" />
        </form>
    </div>
</section>