<div class="back">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>ユーザー名</mat-card-title>
            <mat-card-subtitle>何かしらの情報</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                    相手への配慮、相手の気持ちや立場に立って物事を考える姿勢というものがあると思うので、それにより自分自身がお客さまに対して最大限何が出来て、どのようにすれば満足してもらえるかを常に考え、行動していくことで相手に誠意を伝えていくことが可能だと感じます。営業という仕事を通してお客さまに対して、自分なりに長所を生かしていくことができ、また自分の力をどんどん試していけると思うのでさまざまな部分でやりがいのある仕事だと思います。一方で、今現在もう一度原点に返り、一から物事を考えて自分自身を見つめ直していこうとも考えています。
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>